@import "../node_modules/normalize.css/normalize.css";

$mainColor: #eaeaea;

body {
	width: 100%;
  background: $mainColor;
}

.grid {
	lost-center: 980px;
	height: 100vh;
	background: blue;
	lost-align: center;
  .grid-item {
  	background: darken(blue, 10%);
  	height: 50px;
  	width: 50px;
  }
}
