@import url(https://fonts.googleapis.com/css?family=Exo:300,500,700,800);
html {
  font-family: 'Helvetica Neue', Helvetica, Arial, San-Serif;
  font-size: 62.5%;
  color: #000; }

h1, h2, h3, h4, nav {
  font-family: 'Exo', sans-serif;
  margin: 0; }

p {
  margin: 0; }

h1 {
  font-size: 14.4rem;
  font-weight: 800;
  letter-spacing: 2px; }

nav {
  font-size: 1.4rem;
  font-weight: 500; }
  nav span {
    font-weight: 300; }

.intro {
  font-family: 'Exo', sans-serif;
  font-size: 2.4rem;
  font-weight: 300; }
  .intro .em {
    font-size: 7.2rem;
    font-weight: 800;
    text-transform: uppercase; }

.logo {
  text-align: center;
  display: block;
  width: 68px;
  height: 64px;
  margin-top: 50px;
  margin-left: calc(50% - 2rem); }
  .logo img {
    width: 100%;
    height: 100%; }

nav {
  margin: 0 auto 70px;
  text-align: center; }
  nav ul {
    padding: 0; }
    nav ul li {
      display: inline-block;
      padding: 0 10px; }
  nav a {
    text-decoration: none;
    color: #3A515C; }
  nav span {
    color: #B3B3B3; }

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,2b3134+50,2b3134+100 */
  width: 100%;
  height: 4500px;
  background: #ffffff;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 50%, #2b3134 50%, #2b3134 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#2b3134',GradientType=0 );
  /* IE6-9 */ }

.skew-bg {
  -webkit-backface-visibility: hidden;
  /* the magic ingredient */
  -webkit-transform: skew(0deg, 20deg);
          transform: skew(0deg, 20deg);
  overflow: hidden;
  position: relative;
  display: block; }
  @media (max-width: 1200px) {
    .skew-bg {
      -webkit-transform: skew(0deg, 0deg);
              transform: skew(0deg, 0deg); } }
  .skew-bg .content {
    -webkit-transform: skew(0deg, -20deg);
            transform: skew(0deg, -20deg);
    font-size: 1.4rem;
    position: relative; }
    @media (max-width: 1200px) {
      .skew-bg .content {
        -webkit-transform: skew(0deg, 0deg);
                transform: skew(0deg, 0deg); } }

.intro {
  text-align: center;
  width: 60%;
  margin: 0 auto; }

.process {
  background: #f1f1f1;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  margin-top: 20rem;
  position: relative;
  height: 50rem; }
  .process .fl {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .process .three-col-1,
  .process .three-col-2,
  .process .three-col-3 {
    line-height: 1.5; }

.three-col-1 {
  margin-top: -100px; }

.exp {
  height: 150rem; }

.about {
  height: 100rem; }
  .about main {
    margin-right: 5%; }
  .about aside {
    margin-top: 292px; }
  .about p {
    font-family: 'Helvetica Neue', Helvetica, Arial, San-Serif;
    font-weight: 200;
    letter-spacing: 1.25;
    font-size: 1.4rem;
    color: #FFF08B;
    line-height: 16px;
    padding: 10px 0; }

.contact {
  height: 50rem;
  margin-bottom: -50rem; }

.exp h1, .exp h2, .about h1, .about h2, .contact h1, .contact h2 {
  color: rgba(255, 255, 255, 0.2); }

.exp h2, .about h2, .contact h2 {
  font-size: 4.8rem; }

.exp, .contact {
  background: #2B3134; }

.about {
  background: #FF9415;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3); }

.exp-block {
  padding: 30px 0px; }
  .exp-block:nth-child(even) {
    float: right; }
  .exp-block .date-range {
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: #5C5C5C;
    letter-spacing: 0.21px;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .exp-block .job {
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: #22B2FF;
    letter-spacing: 0.31px; }
  .exp-block .job-des {
    font-family: 'Helvetica Neue', Helvetica, Arial, San-Serif;
    font-size: 14px;
    color: #AAAAAA;
    line-height: 16px;
    font-weight: 200;
    letter-spacing: 1.25;
    margin: 5px 0; }

footer {
  padding: 15px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 300;
  background: #000; }
  footer .copy {
    color: rgba(255, 255, 255, 0.4);
    padding-top: 5px;
    float: left; }
  footer ul {
    margin: 0; }
  footer li {
    display: inline-block;
    float: right;
    padding-left: 10px; }
    footer li a {
      font-size: 1.8rem;
      color: rgba(255, 255, 255, 0.4); }
      footer li a:hover {
        color: rgba(255, 255, 255, 0.6); }
