@import url(https://fonts.googleapis.com/css?family=Exo:300,500,700,800);
html {
  font-family: 'Helvetica Neue', Helvetica, Arial, San-Serif;
  font-size: 62.5%;
  color: #000; }

h1, h2, h3, h4, nav {
  font-family: 'Exo', sans-serif;
  margin: 0; }

p {
  margin: 0; }

h1 {
  font-size: 14.4rem;
  font-weight: 800;
  letter-spacing: 2px; }

nav {
  font-size: 1.4rem;
  font-weight: 500; }
  nav span {
    font-weight: 300; }

.intro {
  font-family: 'Exo', sans-serif;
  font-size: 2.4rem;
  font-weight: 300; }
  .intro .em {
    font-size: 7.2rem;
    font-weight: 800;
    text-transform: uppercase; }

.logo {
  text-align: center;
  display: block;
  width: 68px;
  height: 64px;
  margin-top: 50px;
  margin-left: calc(50% - 2rem); }
  .logo img {
    width: 100%;
    height: 100%; }

nav {
  margin: 0 auto 70px;
  text-align: center; }
  nav ul {
    padding: 0; }
    nav ul li {
      display: inline-block;
      padding: 5px 10px; }
  nav a {
    text-decoration: none;
    color: #3A515C; }
  nav span {
    color: #B3B3B3; }

.skew-bg {
  -webkit-backface-visibility: hidden;
  /* the magic ingredient */
  overflow: hidden;
  position: relative;
  display: block; }
  @media (max-width: 1200px) {
    .skew-bg {
      -webkit-transform: skew(0deg, 0deg);
              transform: skew(0deg, 0deg); } }
  .skew-bg .content {
    font-size: 1.4rem;
    position: relative; }
    @media (max-width: 1200px) {
      .skew-bg .content {
        -webkit-transform: skew(0deg, 0deg);
                transform: skew(0deg, 0deg); } }

.wrapper {
  *zoom: 1;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto; }

.wrapper:before{
  content: '';
  display: table; }

.wrapper:after{
  content: '';
  display: table;
  clear: both; }

.intro {
  text-align: center;
  *zoom: 1;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto; }

.intro:before{
  content: '';
  display: table; }

.intro:after{
  content: '';
  display: table;
  clear: both; }
  .intro .em {
    text-align: center; }

.process {
  background: #f1f1f1;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  margin-top: 15rem;
  position: relative; }
  .process .content {
    *zoom: 1;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto; }
  .process .content:before{
  content: '';
  display: table; }
  .process .content:after{
  content: '';
  display: table;
  clear: both; }
  .process .fl {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .process .three-col-1,
  .process .three-col-2,
  .process .three-col-3 {
    width: calc(99.99% * 1/3 - (30px - 30px * 1/3)); }
  .process .three-col-1:nth-child(n),
  .process .three-col-2:nth-child(n),
  .process .three-col-3:nth-child(n){
  float: left;
  margin-right: 30px;
  clear: none; }
  .process .three-col-1:last-child,
  .process .three-col-2:last-child,
  .process .three-col-3:last-child{
  margin-right: 0; }
  .process .three-col-1:nth-child(3n),
  .process .three-col-2:nth-child(3n),
  .process .three-col-3:nth-child(3n){
  margin-right: 0; }
  .process .three-col-1:nth-child(3n + 1),
  .process .three-col-2:nth-child(3n + 1),
  .process .three-col-3:nth-child(3n + 1){
  clear: left; }

.about main {
  margin-right: 5%; }

.about p {
  font-family: 'Helvetica Neue', Helvetica, Arial, San-Serif;
  font-weight: 200;
  letter-spacing: 1.25;
  font-size: 1.4rem;
  color: #FFF08B;
  line-height: 16px;
  padding: 10px 0; }

.exp h1, .exp h2, .about h1, .about h2, .contact h1, .contact h2 {
  color: rgba(255, 255, 255, 0.2); }

.exp h2, .about h2, .contact h2 {
  font-size: 4.8rem; }

.exp, .contact {
  background: #2B3134; }

.about {
  background: #FF9415;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3); }

.exp-block {
  padding: 30px 0px; }
  .exp-block:nth-child(even) {
    float: right; }
  .exp-block .date-range {
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: #5C5C5C;
    letter-spacing: 0.21px;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .exp-block .job {
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: #22B2FF;
    letter-spacing: 0.31px; }
  .exp-block .job-des {
    font-family: 'Helvetica Neue', Helvetica, Arial, San-Serif;
    font-size: 14px;
    color: #AAAAAA;
    line-height: 16px;
    font-weight: 200;
    letter-spacing: 1.25;
    margin: 5px 0; }

footer {
  padding: 15px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 300;
  background: #000; }
  footer .copy {
    color: rgba(255, 255, 255, 0.4);
    padding-top: 5px;
    float: left; }
  footer ul {
    margin: 0; }
  footer li {
    display: inline-block;
    float: right;
    padding-left: 10px; }
    footer li a {
      font-size: 1.8rem;
      color: rgba(255, 255, 255, 0.4); }
      footer li a:hover {
        color: rgba(255, 255, 255, 0.6); }

.works {
  *zoom: 1;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px; }

.works:before{
  content: '';
  display: table; }

.works:after{
  content: '';
  display: table;
  clear: both; }
  .works div {
    width: calc(99.99% * 1/2 - (30px - 30px * 1/2));
    height: calc(99.99% * 1/2 - (30px - 30px * 1/2));
    background: #eaeaea;
    -webkit-backface-visibility: hidden;
    /* the magic ingredient */
    -webkit-transform: skew(0deg, 5deg);
            transform: skew(0deg, 5deg);
    overflow: hidden;
    position: relative;
    display: block;
    height: 250px;
    max-height: 250px; }
  .works div:nth-child(n){
  /* the magic ingredient */
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  clear: none; }
  .works div:last-child{
  /* the magic ingredient */
  margin-right: 0;
  margin-bottom: 0; }
  .works div:nth-child(2n){
  /* the magic ingredient */
  margin-right: 0; }
  .works div:nth-child(2n + 1){
  /* the magic ingredient */
  clear: left; }
  .works div:nth-last-child(-n + 2){
  /* the magic ingredient */
  margin-bottom: 0; }
    @media (max-width: 1200px) {
      .works div {
        -webkit-transform: skew(0deg, 0deg);
                transform: skew(0deg, 0deg); } }
