@import url(https://fonts.googleapis.com/css?family=Exo:300,500,700,800);

html {
	font-family: 'Helvetica Neue', Helvetica, Arial, San-Serif;
	font-size: 62.5%;
	color: #000;
}

h1, h2, h3, h4, nav {
	font-family: 'Exo', sans-serif;
	margin: 0;
}

p {
	margin: 0;
}

h1 {
	font-size: 14.4rem;
	font-weight: 800;
	letter-spacing: 2px;
}

nav {
	font-size: 1.4rem;
	font-weight: 500;
	span {
		font-weight: 300;
	}
}

.intro {
	font-family: 'Exo', sans-serif;
	font-size: 2.4rem;
	font-weight: 300;
	.em {
		font-size: 7.2rem;
		font-weight: 800;
		text-transform: uppercase;
	}
}
