footer{
  padding: 15px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1.2rem;
	font-weight: 300;
	background: #000;
  .copy {
    color: rgba(255, 255, 255, .4);
    padding-top: 5px;
    float: left;
  }
  ul { margin: 0; }
  li {
    display: inline-block;
    float: right;
    padding-left: 10px;
    a {
    	font-size: 1.8rem;
      color: rgba(255, 255, 255, .4);
      &:hover{
        color: rgba(255, 255, 255, .6);
      }
    }
  }
}