$breakpoint1: max-width 1200px;

.skew-bg {
	-webkit-backface-visibility: hidden; /* the magic ingredient */
	// transform: skew(0deg, 10deg);
	overflow: hidden;
	position: relative;
	display: block;
	@include breakpoint($breakpoint1) {
    transform: skew(0deg, 0deg);
  }
	.content {
		// transform: skew(0deg, -10deg);
		font-size: 1.4rem;
		position: relative;
		@include breakpoint($breakpoint1) {
	    transform: skew(0deg, 0deg);
	  }
	}
}

.wrapper {
	lost-center: 80%;
}

.intro {
	text-align: center;
  lost-center: 60%;
  margin: 0 auto;
  .em {
  	text-align: center;
  }
}

.process {
	background: #f1f1f1;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
	margin-top: 15rem;
	position: relative;
	
	.content {
		lost-center: 80%;
	}
	.fl { 
		display: flex; 
		justify-content: center;
	}
	.three-col-1,
	.three-col-2,
	.three-col-3 {
		lost-column: 1/3;
	}
}
.exp {
	
}
.about {
	
	main {
		margin-right: 5%;
	}
	p {
		font-family: 'Helvetica Neue', Helvetica, Arial, San-Serif;
		font-weight: 200;
    letter-spacing: 1.25;
		font-size: 1.4rem;
		color: #FFF08B;
		line-height: 16px;
		padding: 10px 0;
	}	
}
.contact {
	
}
.exp, .about, .contact {
	// margin-top: -9.7rem;
	// height: 150rem;
	h1, h2 {
		color: rgba(#fff, .2);
	}
	h2 { font-size: 4.8rem; }
}

.exp, .contact {
	background: $dark-blue;
}

.about {
	background: $orange;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
}

// experience block
.exp-block {
  padding: 30px 0px;
  &:nth-child(even){
  	float: right;
  }
	.date-range {
		font-family: 'Exo', sans-serif;
		font-weight: 500;
		font-size: 1.2rem;
		color: #5C5C5C;
		letter-spacing: 0.21px;
		margin-bottom: 10px;
		text-transform: uppercase;
	}
	.job {
		font-family: 'Exo', sans-serif;
		font-weight: 700;
		font-size: 1.8rem;
		color: #22B2FF;
		letter-spacing: 0.31px;
		// line-height: 24px;
	}
	.job-des {
		font-family: 'Helvetica Neue', Helvetica, Arial, San-Serif;
		font-size: 14px;
		color: #AAAAAA;
		line-height: 16px;
		font-weight: 200;
    letter-spacing: 1.25;
    margin: 5px 0;
	}
}