.logo {
	text-align: center;
	display: block;
	width: 68px;
	height: 64px;
  margin-top: 50px;
  margin-left: calc(50% - 2rem);
	img {
		width: 100%;
		height: 100%;
	}
}

nav {
  margin: 0 auto 70px;
  text-align: center;
	ul {
		padding: 0;
		li {
			display: inline-block;
			padding: 5px 10px;
		}
	}
	a {
		text-decoration: none;
		color: $blue-gray;
	}
	span {
		color: $nav-bar;
	}
}