.works {
	lost-center: 80%;
	margin-bottom: 150px;
	div {
		lost-waffle: 1/2;
		background: #eaeaea;
		-webkit-backface-visibility: hidden; /* the magic ingredient */
		transform: skew(0deg, 5deg);
		overflow: hidden;
		position: relative;
		display: block;
		height: 250px;
		max-height: 250px;
		@include breakpoint($breakpoint1) {
	    transform: skew(0deg, 0deg);
	  }
	}
}